auth:
  jwtSecret: auth-secret-auth-secret-auth-secret-1234
  expireHours: 2
spring:
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: 300ms
